/* mapStyles.css */

.svg-map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.svg-map-container .svg-map {
  width: 100%;
  height: 100%;
}

.svg-map {
  width: 100%;
  height: auto;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.svg-map__location {
  fill: #ed4a3c;
  cursor: pointer;
}

.svg-map__location:focus,
.svg-map__location:hover {
  fill: #005eff;
  outline: 0;
}
